<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="overlay">

{% if correcto %}
<audio autoplay src="{{ url_for('static', filename='ok.mp3') }}"></audio>
{% else %}
<audio autoplay src="{{ url_for('static', filename='error.mp3') }}"></audio>
<script>
if (navigator.vibrate) {
    navigator.vibrate(300);
}
</script>
{% endif %}

<div class="container">
{% if es_phishing %}
    {% if correcto %}
        <h2 class="correcto">🕵️ ¡Atrapaste al Phisher!</h2>
        <img src="{{ url_for('static', filename='correcto.jpg') }}" class="img-feedback">
    {% else %}
        <h2 class="incorrecto">😱 ¡Te han robado!</h2>
        <img src="{{ url_for('static', filename='incorrecto.png') }}" class="img-feedback">
    {% endif %}
{% else %}
    {% if correcto %}
        <h2 class="correcto">✅ Correcto</h2>
    {% else %}
        <h2 class="incorrecto">❌ Incorrecto</h2>
    {% endif %}
{% endif %}

<p>{{ explicacion }}</p>
<a href="/juego" class="btn">Continuar</a>
</div>

</body>
</html>
