<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Juego</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="overlay">

<div class="correo">

<div class="vidas">
    {% for i in range(3) %}
        {% if i < (3 - session.fallos) %}
            <span class="corazon lleno">❤️</span>
        {% else %}
            <span class="corazon vacio">🤍</span>
        {% endif %}
    {% endfor %}
</div>

<div class="progress-bar"><div class="progress" style="width:{{ progreso }}%"></div></div>

<div class="header">
<img src="{{ url_for('static', filename='mail.png') }}" class="logo">
<strong>{{ correo.remitente }}</strong>
</div>

<button type="button" class="btn" style="background:#ff9800"
onclick="alert('Revisa el dominio y el tono del mensaje')">
💡 Ver pista
</button>


<h4>{{ correo.asunto }}</h4>
<p>{{ correo.mensaje }}</p>

<div class="timer">⏱️ <span id="time">10</span>s</div>

<form method="POST" id="form">
<button class="btn real" name="respuesta" value="real">✔ Real</button>
<button class="btn falso" name="respuesta" value="falso">✖ Falso</button>
</form>
</div>



<script>
let t=10;
let s=document.getElementById("time");
let i=setInterval(()=>{
t--;s.textContent=t;
if(t<=0){
clearInterval(i);
let h=document.createElement("input");
h.type="hidden";h.name="respuesta";h.value="timeout";
document.getElementById("form").appendChild(h);
document.getElementById("form").submit();
}},1000);
</script>

</body>
</html>
